@import "../../assets/scss/header.scss";
@import "../../assets/scss/color.scss";

.signUp__title {
    background-image: url(https://htmldemo.net/bonx/bonx/assets/img/bg/breadcrumbs-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;

    h1 {
    font-size: 90px;
    line-height: 90px;
    font-family: "Metal Mania", cursive;
    margin-bottom: 25px;
    text-shadow: 3px 3px 0px $purple-color-1;
    }
}

ul.location {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        font-size: 1rem;
        font-weight: bolder;
        text-transform: uppercase;
        margin-right: 5px;
        color: $purple-color-1;

        &:first-child a{
            color: $white-color-1;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: $purple-color-1;
                text-decoration: none;
            }
        }
    }
}

.signUp__content {
    margin-bottom: 120px;
    .content__left {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .content__right {
        .section_title {
            margin-bottom: 60px;
            h2 {
                    font-size: 3.5rem;
                    line-height: 72px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $white-color-1;
            }
        }
    //     .form_input {
    //         margin-bottom: 30px;
    //         input {
    //             display: inline-block;
    //             width: 100%;
    //             height: 62px;
    //             padding: 0 25px;
    //             line-height: 17px;
    //             border-radius: 10px;
    //             background: inherit;
    //             border: 2px solid $purple-color-2;
    //             color: $white-color-1;
    //             transition: all 1s ease 0s;
    //         }
    //         input:focus {
    //             outline: none;
    //             border-color: $purple-color-3;
    //         }            
    //     }
    //     .form_input_btn {
    //          margin-bottom: 40px;
    //          #signUp_Btn {
    //             width: 50%;
    //             height: auto;
    //             font-size: 1.7rem;
    //             text-decoration: none;
    //             &:hover {
    //                 text-decoration: none;
    //             }
    //         }
    //     }
    //     p.haveAccount {
    //         margin-bottom: 0;
    //         letter-spacing: 1px;
    //         a {
    //             color: $white-color-1;
    //             text-decoration: none;
    //             transition: all 0.4s ease 0s;
    //             &:hover {
    //                 color: $purple-color-3;
    //             }
    //         }
    //     }

    }
}

#register_username {
    width: 100%;
    height: 62px;
    padding: 0 25px;
    line-height: 17px;
    color: $white-color-1;
    background: inherit;
    border: 2px solid $blue-color-6;
    border-radius: 10px;
    &::placeholder {
        color: $white-color-1;
    }
    :focus {
        border-color: $purple-color-6;
    }
}
.ant-input-affix-wrapper >input.ant-input {
    width: 100%;
    background: inherit;
    color: $white-color-1;
    &::placeholder {
        color: $white-color-1;
    }

}

.btn-register {
    margin-top: 30px;
    span {
        font-size: 1.7rem;
        font-weight: 600;
    }
}
#btn-register {
    margin-top: 30px;
    span {
        font-size: 1.7rem;
        font-weight: 600;
    }
    &:hover {
        color: $gray-color-1;
        background-color: $white-color-1;
    }
}