@import "../../assets/scss/color.scss";

.allGames__category {
    padding: 32px 70px;
    border-radius: 15px;
    margin-bottom: 70px;
    background: rgba(24, 14, 61, 0.5);
}

.gaming__list  {
    margin-right: 28px;

    .category-select {
        display: block;
        width: 298px;
        height: 65px;
        line-height: 62px;
        padding: 0 46px 0 30px;
        font-weight: 500;
        font-size: 1rem;
        text-align: left;
        border: 2px solid rgb(40, 30, 77);
        border-radius: 10px;
        outline: none;
        font-family: inherit;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease-in-out;

        &:hover {
            border-color: rgb(177, 84, 240, 0.5);
        }
        &::after {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            content: '';
            position: absolute;
            top: 50%;
            right: 28px;
            display: block;
            width: 7px;
            height: 7px;
            margin-top: -4px;
            transform-origin: 66% 66%;
            transform: rotate(45deg);
            transition: all 0.15s ease-in-out;
        }

        ul.list {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            border-radius: 5px;
            // box-sizing: border-box;
            margin-top: 4px;
            overflow: hidden;
            padding: 0;
            list-style: none;
            transform-origin: 50% 0;
            transform: scale(0.75) translateY(-21px);
            background-color: $white-color-1;
            box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
            transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
            opacity: 0;
            z-index: 9;

            li.option {
                font-size: 1rem;
                font-weight: 400;
                line-height: 40px;
                min-height: 40px;
                list-style: none;
                outline: none;
                padding-left: 18px;
                padding-right: 29px;
                text-align: left;
                color: $black-color-1;
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    background-color: #f6f6f6;
                }
            }
            li.selected {
                background-color: #f6f6f6;
            }
        }
    }
}

.category__right_search {
    position: relative;
    width: 298px;
    border: 2px solid rgb(40, 30, 77);
    border-radius: 10px;
    transition: 0.3s;
    margin-left: 30px;

    input {
        background: inherit;
        width: 100%;
        height: 61px;
        border: 0;
        border-radius: 10px;
        padding: 0 48px 0 25px;
        color: rgb(243, 243, 243);
        opacity: 0.5;
    }

    button {
        position: absolute;
        top: 50%;
        right: 20px;
        border: 0;
        padding: 0;
        background: inherit;
        transform: translatey(-50%);
    }
}

.allGames__list {
    margin-bottom: 120px;
}