// pink color 
$pink-color-1: #f55f8d;

// gray color
$gray-color-1: #636363;

.about {
    padding-bottom: 120px;
    text-align: left;
}

.about__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about__left {
    position: absolute;
    left: -17%;
    width: 60%;
    animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-delay: .2s;

    img {
        width: 100%;
        border-radius: 0 100px 100px 0;
    }
}

.about__right {
    width: 50%;
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-delay: .2s;
    
    p {
        margin-bottom: 15px;
        line-height: 1.5;
        color: $gray-color-1;
    }

    p:first-child {
        color: $pink-color-1;

    }

    h2 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    ul {
        color: $gray-color-1;
        list-style: none;
        margin-bottom: 30px;

        li {
            padding-bottom: 15px;
            font-size: 0.95rem;

            i {
                color: $pink-color-1;
                font-size: 1rem;
                height: 25px;
                width: 25px;
                border-radius: 25px;
                border: 2px solid $pink-color-1;
                text-align: center;
                margin-right: 10px;
                margin-top: 1px;
                vertical-align: middle;
            }
        }
    }
}
