// white color
$white-color-1: #FFFFFF;
$white-color-2: rgba(255, 255, 255, 0.8);

// gray color 
$gray-color-1: #636363;

// black color
$black-color-1: rgb(14, 27, 31, 0.6);
$black-color-2: rgba(255,255,255,.1);

// yellow color
$yellow-color-1: #ffb300;

// blue color
$blue-color-1: #1de3eb;
$blue-color-2: rgb(31, 52, 59, .5);
$blue-color-3: rgba(41, 25, 92, 0.5);
$blue-color-4: rgb(12, 114, 182);
$blue-color-5: #48ade7;

// purple color
$purple-color-1: rgb(155, 125, 175);
$purple-color-2: rgba(33, 27, 54, 0.8);
$purple-color-3: rgba(150, 63, 207, 0.5);
$purple-color-4: rgb(176, 99, 224);
$purple-color-5: rgba(150, 63, 207, 0.5);

// pink color
$pink-color-1: rgb(196, 125, 145);

// red color 
$red-color-1: #e00951;
$red-color-2: #da3333;

// orange color 
$orange-color-1: #df4c21;
