@import "../scss/color.scss";

footer {
    background-color: $black-color-1;
    background-image:  url(https://samar-web.vercel.app/Samar/bg4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    height: auto;
}

.footer__bottom, .copyrights__content {
    width: 80%;
    margin: auto;
}

/* ===========================FOOTER_BOTTOM=========================  */
.footer__bottom {
    padding: 70px 0;
}

.footer__item {
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-delay: 1s;
    li {
        padding: 10px 0;
        list-style: none;
        text-align: left;
        a {
            color: $gray-color-1;
            text-decoration: none;
            transition: all .5s;
            i {
                margin-right: 10px;
                color: $gray-color-1;
            }
            &:hover {
                color: $white-color-1;
            } 
            &:hover i {
                color: $white-color-1;
            } 

        }
    }
}

/* Item contact (first)  */
.itemFooter1 {
    color: $white-color-1;
    margin-top: -20px;
    a {
        margin-left:-10px;
        text-decoration: none;
        img {
            padding-bottom: 7px;
        }
        span {
            font-size: 2rem;
        }
    }
    .footer__contact {
        li i {
            font-size: .8rem;
            background: linear-gradient(to right,$purple-color-1 0,$pink-color-1 51%, $purple-color-1 100%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 40px;
            text-align: center;
            margin-right: 15px;
        }
        li span {
            font-size: .9rem;
            font-weight: 300;
            line-height: 22px;
        }
    }
}

.itemFooter1 .footer__contact li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}

/* Other item  */
.itemFooter h3 {
    padding-bottom: 13px;
    margin-bottom: 35px;
    font-size: 1.5rem;
    position: relative;
    text-align: left;
}

.itemFooter h3::before {
    background: linear-gradient(to right,$purple-color-1 0,$pink-color-1 51%, $purple-color-1 100%);
    background-size: 200%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 4px;
    border-radius: 10px;
}

.itemFooter h3::after {
    background: linear-gradient(to right,$purple-color-1 0,$pink-color-1 51%, $purple-color-1 100%);
    background-size: 200%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 45px;
    height: 4px;
    border-radius: 10px;
}
.itemDetail {
    padding-left: 60px;
}

/* Copy right apart  */
.footer__copyrights {
    color: $white-color-1;
    background: $blue-color-2;
    padding: 10px 0;
    font-size: .9375rem;
    position: relative;
}

.copyrights__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyrights__left{
        span {
            color: $purple-color-1;
        }
    }
    .copyrights__right {
        ul {
            display: flex;
            li {
                background-color: $black-color-2;
                list-style: none;
                width: 32px;
                height: 32px;
                line-height: 32px;
                border-radius: 50%;
                text-align: center;
                margin-right: 3px;
                transition: all .5s;
                a {
                    color: $white-color-1;
                }
                &:hover {
                    background: $pink-color-1;
                }
            }
        }
    }
}
