// white color
$color-white-1: rgb(255, 255, 255);
$color-white-2: rgba(255, 255, 255, 0.9);

// black color
$color-black-1: rgb(49, 49, 49);
$color-black-2: rgba(112, 110, 112, 0.7);
$color-black-3: rgba(71, 70, 71, 0.7);
$color-black-4: rgba(71, 70, 71, 0.7);

// purple color
$purple-color-1: rgba(147, 64, 241, 0.8);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
    letter-spacing: .02rem;
    color: $color-white-1;

}

body {
    background-image: url(../img/body-bg.webp);
    background-size: cover;
    background-color: $color-black-4;
}

.container {
    max-width: 1200px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    background: $color-black-1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    .header__logo {
        a {
            display: flex;
            text-decoration: none;
            width: 30%;
            img {
                width: 100%;
                height: auto;
            }
            h3 {
                font-size: 2rem;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .header__menu nav {
        ul {
            list-style: outside none none;
            margin: 0;
            padding: 0;
            li {
                margin-right: 57px;
                padding: 10px 30px;
                position: relative;
                .mainPages {
                    display: inline-block;
                    line-height: 30px;
                    font-size: 1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $color-white-1;
                    position: relative;
                }
                &:hover {                   
                    background-color: $color-white-2;
                    border-radius: 9px;
                }
                &:hover .mainPages {
                    color: $color-black-3;
                }

            }
        }
    }
}


ul.sub_menu {
    position: absolute;
    left: 0;
    right: auto;
    top: 148%;
    min-width: 225px;
    padding: 18px 20px;
    background: $color-white-1;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
    text-align: left;
    list-style: outside none none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 4px;
    transition: 0.3s;
    z-index: 99;

    .sub__pages {
        display: list-item;
        a {
            font-size: 0.9rem;
            font-weight: 500;
            display: block;
            line-height: 32px;
            text-transform: capitalize;
            color: $color-black-1;
            &:hover {
                color: $purple-color-1;
            }
        }
    }
}


.header__menu li:hover ul.sub_menu {
    visibility: visible;
    opacity: 1;
    top: 132%;
}
