// white color 
$white-color-1: #ffffff;

.popularGame {
    margin-bottom: 140px;
}
.popularGame__title {
    h2 {
        font-size: 3.5rem;
        line-height: 72px;
        font-weight: 700;
        color: $white-color-1;
        text-transform: uppercase;
    }
    p {
        font-size: 1.1rem;
        line-height: 35px;
        margin-top: 12px;
    }
}